a {
    color: #000000;
    text-decoration: none;
}
.link{
    color: #000000;
    text-decoration: none;
}
.link:hover{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
.navbar{
    padding: 10px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}
.navbar li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 120%;
    text-decoration: none;
}
.navbar link{
    text-decoration: none;
}
.navbar-left{
   margin-left: 70px;
}
.navbar-center{
  margin-left: auto;
  margin-right: auto;
}
.navbar-right{
    margin-right: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 120px 106px;
    z-index: 1;
   
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }

  .ui-modal-body {
    font-family: 'Flexo';
    font-size: 12px;
    margin: 0 auto;
    height: auto;
    min-height: 560px;
    max-height: auto;
    width: 550px;
    height: auto;
    margin: 0 auto;
    top: 13%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    box-shadow: -3px 0 5px rgba(100, 100, 100, 0.2), 3px 0 5px rgba(100, 100, 100, 0.2);
    background: white;
    padding: 10px 40px;
  }
  
  .modal-footer-small {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  